<a href="https://colab.research.google.com/github/dewshishir/problem/blob/main/assessment_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create variables for your name, age, and favorite color, then print them with descriptive labels.

In [1]:
name = "Monowar"
age = 22
favorite_color = "Blue"
print("Name:", name)
print("Age:", age)
print("Favorite Color:", favorite_color)

Name: Monowar
Age: 22
Favorite Color: Blue

2. Create one variable of each type and use the type() function to verify its type.

In [2]:
a = 10
b = 3.14
c = "Hello"
d = True
e = [1, 2, 3]
print(type(a), type(b), type(c), type(d), type(e))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'> <class 'list'>

3. Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [3]:
length = 7
width = 5
area = length * width
perimeter = 2 * (length + width)
print(area, perimeter)

35 24

4. Create a list of 5 Bangladeshi foods, then access the first and last elements.

In [4]:
foods = ["Biryani", "Panta Bhat", "Fuchka", "Hilsa Fish", "Kacchi"]
print(foods[0], foods[-1])

Biryani Kacchi

5. Create a list of 5 numbers, add a new number, remove one, and then sort the list.

In [5]:
nums = [10, 3, 5, 8, 2]
nums.append(7)
nums.remove(5)
nums.sort()
print(nums)

[2, 3, 7, 8, 10]

6. Create a dictionary about yourself with at least 4 key-value pairs.

In [6]:
info = {"name": "Monowar", "age": 22, "city": "Dhaka", "hobby": "Coding"}
print(info)

{'name': 'Monowar', 'age': 22, 'city': 'Dhaka', 'hobby': 'Coding'}

7. Create a tuple with the latitude and longitude of a famous place in Bangladesh.

In [7]:
location = (23.8103, 90.4125)
print(location)

(23.8103, 90.4125)

8. Create two sets of colors and find their union and intersection.

In [8]:
set1 = {"red", "blue", "green"}
set2 = {"yellow", "blue", "black"}
print(set1.union(set2))
print(set1.intersection(set2))

{'red', 'yellow', 'green', 'black', 'blue'}
{'blue'}

9. Write a Python function that takes a string as input and prints the first and last character of the string.

In [9]:
def first_last(s):
    print(s[0], s[-1])

first_last("Bangladesh")

B h

10. Write a Python function that takes a string and converts it to uppercase.

In [10]:
def to_upper(s):
    return s.upper()

print(to_upper("hello world"))

HELLO WORLD